<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="chan.android.game2048"
          android:versionCode="2"
          android:versionName="1.1">


    <uses-sdk android:minSdkVersion="16"/>
    <application
            android:name=".GameApplication"
            android:label="@string/app_name"
            android:icon="@drawable/appstore_icon">
        <activity
                android:name=".GameActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
